
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/PROJECT.md
/TESTING_GUIDE.md
/html/
###< symfony/framework-bundle ###
