CREATE TABLE book_request (id INT AUTO_INCREMENT NOT NULL, enfant_id INT NOT NULL, resource_id INT DEFAULT NULL, book_title VARCHAR(255) NOT NULL, is_notified TINYINT(1) NOT NULL, is_available TINYINT(1) NOT NULL, requested_at DATETIME NOT NULL, notified_at DATETIME DEFAULT NULL, INDEX IDX_A8B7A709450D2529 (enfant_id), INDEX IDX_A8B7A70989329D25 (resource_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE favorite (id INT AUTO_INCREMENT NOT NULL, user_id INT NOT NULL, game_id INT NOT NULL, created_at DATETIME DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)', INDEX IDX_68C58ED9A76ED395 (user_id), INDEX IDX_68C58ED9E48FD905 (game_id), UNIQUE INDEX uniq_user_game (user_id, game_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
ALTER TABLE book_request ADD CONSTRAINT FK_A8B7A709450D2529 FOREIGN KEY (enfant_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE book_request ADD CONSTRAINT FK_A8B7A70989329D25 FOREIGN KEY (resource_id) REFERENCES resource (id) ON DELETE SET NULL;
ALTER TABLE favorite ADD CONSTRAINT FK_68C58ED9A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE favorite ADD CONSTRAINT FK_68C58ED9E48FD905 FOREIGN KEY (game_id) REFERENCES game (id);
ALTER TABLE school_event ADD latitude VARCHAR(20) DEFAULT NULL, ADD longitude VARCHAR(20) DEFAULT NULL, CHANGE image_path image_path VARCHAR(255) DEFAULT NULL, CHANGE created_at created_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)';
ALTER TABLE user CHANGE roles roles JSON NOT NULL;
ALTER TABLE event_registration ADD child_full_name VARCHAR(120) NOT NULL, ADD parent_phone VARCHAR(30) DEFAULT NULL, ADD child_class_level VARCHAR(80) DEFAULT NULL, ADD medical_notes LONGTEXT DEFAULT NULL, ADD emergency_contact_name VARCHAR(120) DEFAULT NULL, ADD emergency_contact_phone VARCHAR(30) DEFAULT NULL, ADD notes LONGTEXT DEFAULT NULL, ADD ticket_qr_code VARCHAR(255) DEFAULT NULL, ADD scanned_at DATETIME DEFAULT NULL, ADD qr_code_path VARCHAR(255) DEFAULT NULL, ADD reminder_sent TINYINT(1) DEFAULT NULL, ADD reminder_sent_at DATETIME DEFAULT NULL, CHANGE registered_at registered_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)';
ALTER TABLE commande DROP FOREIGN KEY FK_6EEAA67D79F37AE5;
ALTER TABLE commande DROP FOREIGN KEY FK_6EEAA67DE00EE68D;
DROP INDEX IDX_6EEAA67D79F37AE5 ON commande;
DROP INDEX IDX_6EEAA67DE00EE68D ON commande;
ALTER TABLE commande ADD user_id INT NOT NULL, ADD product_id INT NOT NULL, ADD stripe_payment_id VARCHAR(255) DEFAULT NULL, ADD is_paid TINYINT(1) NOT NULL, DROP id_user_id, DROP id_product_id, CHANGE date_commande date_commande DATETIME NOT NULL, CHANGE total_amount total_amount DOUBLE PRECISION NOT NULL;
ALTER TABLE commande ADD CONSTRAINT FK_6EEAA67DA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE commande ADD CONSTRAINT FK_6EEAA67D4584665A FOREIGN KEY (product_id) REFERENCES product (id);
CREATE INDEX IDX_6EEAA67DA76ED395 ON commande (user_id);
CREATE INDEX IDX_6EEAA67D4584665A ON commande (product_id);
ALTER TABLE course CHANGE duration_training duration_training VARCHAR(255) NOT NULL, CHANGE description description VARCHAR(255) NOT NULL, CHANGE pdf_file pdf_file VARCHAR(255) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE course RENAME INDEX idx_169e6fb92ebb220a TO IDX_169E6FB941807E1D;
ALTER TABLE game CHANGE image image VARCHAR(255) DEFAULT NULL;
ALTER TABLE level CHANGE description description VARCHAR(255) DEFAULT NULL, CHANGE created_at created_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)', CHANGE updated_at updated_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)';
ALTER TABLE library CHANGE name name VARCHAR(20) NOT NULL, CHANGE description description VARCHAR(100) DEFAULT NULL, CHANGE cover_image cover_image VARCHAR(255) DEFAULT NULL, CHANGE level level VARCHAR(20) NOT NULL, CHANGE theme theme VARCHAR(20) NOT NULL;
ALTER TABLE product ADD picture VARCHAR(255) DEFAULT NULL;
ALTER TABLE resource CHANGE summary summary LONGTEXT DEFAULT NULL, CHANGE cover_image cover_image VARCHAR(255) DEFAULT NULL, CHANGE pdf_file pdf_file VARCHAR(255) DEFAULT NULL;
ALTER TABLE seance CHANGE status status VARCHAR(50) DEFAULT NULL, CHANGE description description LONGTEXT DEFAULT NULL;
ALTER TABLE seance RENAME INDEX idx_df7dfd0e96ef99bf TO IDX_DF7DFD0E591CC992;
ALTER TABLE event_resource CHANGE context context LONGTEXT DEFAULT NULL, CHANGE file_path file_path VARCHAR(255) DEFAULT NULL, CHANGE url url VARCHAR(255) DEFAULT NULL, CHANGE created_at created_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)';
ALTER TABLE subscription RENAME INDEX idx_a3c664d33d8e604f TO IDX_A3C664D3727ACA70;
ALTER TABLE subscription RENAME INDEX idx_a3c664d3b36cc8e4 TO IDX_A3C664D36A973770;
